extends ../layout

block content
  div.section.no-pad-bot
    div.container
      div.row.center
        h5 Log in
        div.header.col.s12.light Log in to find a trainer
        a(href="/login/facebook")
          img#facebook-login-button(src="/images/facebook-login-button.png", alt="Continue with Facebook")
      //h1 Log in via Facebook
      //div
      //  a(href="/user/sign-up") Sign up
      //  span  |
      //  a(href="/login/facebook")  Log in
