extends ../layout

block content
  div.section.no-pad-bot
    div.container
      h4.gray.center Thanks!
      div.center.row
        span We appreciate your feedback contribution, and will have a look at it very soon!
        h5 Things to do next
        div.collection.col.s4.offset-s4
          a(href=MatchingPathEnum.renderMainMatchingView.href).collection-item Find personal trainers
          a(href=UserPathEnum.renderProfilePage.href).collection-item View profile
          a(href=IndexPathEnum.render.href).collection-item Frontpage
