extends ../layout

block content
  div.section.no-pad-bot
    div.container
      h4.gray.center Thanks!
      div.center
        span We appreciate your feedback contribution, and will have a look at it very soon!
