footer.page-footer.orange
  div.container
    div.row
      div.col.l6.s12
        h5 Fript AS
  div.footer-copyright
    div.container
      a(href="/feedback") Feedback
      span &nbsp; | &nbsp;
      span Copyright notice
