extends ../../layout

block content
  div.section.no-pad-bot
    div.container

      h1 Log in via Facebook
      div
        a(href="/user/sign-up") Sign up
        span  |
        a(href="/login/facebook")  Log in
