extends ../layout

block content
  div.section.no-pad-bot
    div.container
      h4.gray.center Choose gym centers
      div
        form(method="POST", action="/onboarding/gym-type")
          div.row
          div.center I want to train at
          each gymCenter in gymCenters
            div.row
              div.input-field.col.s4.offset-s4
                input(id="#{gymCenter.name}", type="checkbox")
                label(for="#{gymCenter.name}") #{gymCenter.name}
          div.row
            div.input-field.col.s4.offset-s4
              button.btn.waves-effect.waves-light(type="submit") Next
                i.material-icons.right send
