extends ../layout

block content
  div.section.no-pad-bot
    div.container
      h3.gray.center Train smarter, cheaper
      div.row.center
        h5.header.col.s12.light Log in to find a personal trainer that fits you
      div.row.center
        a.btn-large.blue.darken-3.waves-effect.waves-light(href='/login/facebook') Log in with Facebook
  div.container
    div.section
      div.row
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons.medium fitness_center
            h5.center Reach your goals
            p.light
              | Learn from the best!
              | The most experienced people are the people who train the most.
              | Together you can have a smashing workout and you learn a lot.
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons.medium monetization_on
            h5.center Spend less
            p.light
              | Don't pay the centers an extra fee for finding a trainer.
              | Match with trainers who don't drain your bank account.
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons.medium people
            h5.center Find your match
            p.light
              | Find someone good at what you like.
              | All types of training, like yoga, fitness and
              | running is available
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
              | Lorem ipsum dolor sit amet
