extends ../layout

block content
  div.section.no-pad-bot
    div.container
      h4.gray.center Thanks
      div.row.center
        p Thanks for signing up for the early beta!
        p We will let you know once we're ready
        a(href="/") Back to frontpage
